//- content structure
#content
    include ../sourcesectionmodule/sourcesection.pug
    #token-label
    #token-amount-display
    include ../flowsmodule/flows.pug
    include ../destinationmodule/destination.pug