// content styles
#content
    padding: 70px 10px
    box-sizing: border-box
    height 100vh
    overflow-y: auto

#token-label
    margin-top 10px
    margin-left 50px

#token-amount-display
    margin-top 10px
    margin-left 50px
 