// content styles
#content
    padding: 70px 10px
    box-sizing: border-box
    height 100vh
    overflow-y: auto
    background-color rgba(0, 0, 0, 0.2)

#token-label
    margin-top 10px
    margin-left 50px

#token-amount-display
    margin-top 10px
    margin-left 50px
 