//- popup structure
#click-catcher
#popup
    #popup-heading
        h1#popup-title
        #popup-close-button.click-button: svg#popup-close-icon: use(href="#svg-cross-icon")
    #popup-content


#hidden-token-template
    .token-info-block.click-button
        .token-amount {{tokenAmount}}
        .token-symbol {{tokenSymbol}}

#hidden-pool-template
    .pool-info-block.click-button
        .pool-symbol {{poolSymbol}}
        .pool-token-block
            .token-one 
                .token-amount {{tokenOneAmount}}
                .token-symbol {{tokenOneSymbol}}
            .token-two
                .token-amount {{tokenTwoAmount}}
                .token-symbol {{tokenTwoSymbol}}

