//- sourcesection structure
#sourcesection
    h1 Add Your Token Sources
    button#add-wallet-token-button.click-button + Wallet Token
    button#add-liquidity-pool-button.click-button + Liquidity Pool