body
    include ../svgiconmodule/svgicon.pug
    include components/templates.pug    
    include ../headermodule/header.pug
    include ../popupmodule/popup.pug
    include ../contentmodule/content.pug
    include ../footermodule/footer.pug