// header styles
header-padding = 10px
header-logo-size = 45px
settings-button-size = 33px

#header
    background-color element-background 
    padding header-padding
    position fixed
    top 0
    left 0
    width 100%
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    .click-button
        border-radius: 20%

#header-left 
    margin-right auto

#header-logo
    width header-logo-size
    height header-logo-size

#connect-wallet-button
    padding 10px

#settings-button
    width settings-button-size
    height settings-button-size

