// globalstyles styles

// pool graphics theme
cd-dark = #488433
cd-bright = #01BCCF
cd-flash = #FF7D04
// swapped flash - bright
// cd-flash = #01BCCF
// cd-bright = #FF7D04
element-background = rgba(0, 0, 0, 0.25)

// bancor theme
// cd-dark = #1C344E // lighter dark
// // cd-dark = #0A2540 // really dark
// cd-flash = #0F59D1
// cd-bright = #ECECEC
// element-background = rgba(0, 0, 0, 0.33)

// bancor theme
// cd-dark = white // lighter dark
// // cd-dark = #0A2540 // really dark
// cd-flash = purple
// cd-bright = black
// element-background = rgba(0, 0, 0, 0.05)



body
    font-family: Arial, Helvetica, sans-serif
    background-color cd-dark
    color cd-bright

